<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            {% for project in tasks %}
            <li>
                <p>{{project.name}}</p>
               {% for task in project.task_set.all %}
                <p>{{task.title}}</p>
                {% endfor %}
            </li>
             

            {% endfor %}
        </ul>
  
    </div>
</body>
</html>